# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Local env files
.env.local
.env.*.local
